.button {
    font: inherit;
    border: 1px solid #e70000;
    background: #e70000;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #940000;
    border-color: #940000;
  }
  
  .button:focus {
    outline: none;
  }